#formation{
    .grid-formation{
        .first-box{
            &:hover{
                .box-formation{
                    opacity: 1;
                    @include transition(opacity 0.3s ease);                   
                }
            }
        }
    }
}

// recrute
#recrute{
    padding: 50px 0 55px;
}

//recherche
#recherche{
    height: 90px;
    .block-s{
        &.offset-1-l{
            margin-left: 8.3333%;
        }
    }
    .search-input{
        input{
            width : 307px;
        }
    }
}

// centre-formation
#centre-formation{
    .right-box{
        text-align: right;
    }
}