#header {
    background-color: $gris-header;
    .container-fluid {
        .navbar-header {
            float: left;
            padding-top: 4px;
            .navbar-brand {
                margin-left: -10px;
            }
        }
    }
    .navbar-toggle {
        display: none;
    }
    .header-search {
        float: right;
    }
    .navbar-collapse {
        padding-top: 13px;
        position: relative;
        background-color: transparent;
    }
    .header-search {
        background-color: transparent;
        margin-bottom: 10px;
        li {
            display: inline-block;
            vertical-align: middle;
            .input-group {
                display: inline-table;
                margin-top: 0;
                margin-bottom: 0;
                .form-control {
                    width: 0px;
                    height: 30px;
                    padding: 0;
                    line-height: 30px;
                    transition: width 300ms ease;
                    &:focus {
                        margin-left: 10px;
                        width: 174px;
                        padding: 0 10px;
                    }
                }
                .input-group-addon {
                    border: 0 none;
                    color: $gris-sombre;  
                    width: 40px;
                    padding-left: 0;
                    .btn {
                        font-size: 19px;
                        height: 30px;
                        line-height: 28px;
                        &:hover {
                            color: $gris-sombre; 
                        }
                    }
                }
                &:hover {
                    .form-control {
                        margin-left: 10px;
                        width: 174px;
                        padding: 0 10px;
                        transition: width 300ms ease;
                    } 
                    .btn {
                        color: $gris-sombre; 
                    }   
                }
            }
        }
    }
    .navbar-nav {
        &.nav-mobile {
            margin-top: 7.5px;            
        }
        & > li {
            margin-right: 4px;
            & > a {
                font-family: 'robotoregular';
                font-size: 12px;
                border: 0 none;
                display: inline-block;
                text-transform: inherit;
                line-height: initial;
                padding: 2px 10px;
                margin: 0;
                min-height: 42px;
                & > span {
                    font-size: 15px;
                    line-height: initial;
                    display: block;
                    & > .fa-angle-down {
                        display: inline-block;
                        font-size: 10px;
                        margin-left: 5px;
                    }
                }
            }
            &:hover, &:focus, &:active, &.active {
                & > a {
                    background-color: $rouge-txt;
                }
            }
            &:last-child {
                vertical-align: middle;
                a {
                    padding: 0 15px;
                    background-color: $grenat;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    min-height: 42px;
                    line-height: 42px;
                    margin-right: 0;
                    &:hover, &:focus, &:active, &.active {
                        background-color: $rouge-txt;
                    }
                }
            }
            .dropdown-menu {
                background-color: $gris-menu;
                box-shadow: none;
                border: 0 none;
                border-radius: 0;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

#newsletter{
    .search-btn{
        .boutton{
            font-size: 14px;
        }
    }
}

#formation{
    .grid-formation{
        .first-box{
            &:hover{
                .box-formation{
                    opacity: 1;
                    @include transition(opacity 0.3s ease);                   
                }
            }
        }
    }
}

// recrute
#recrute{
    padding: 50px 0 55px;
}

//recherche
#recherche{
    height: 90px;
    .block-s{
        &.offset-1-l{
            margin-left: 8.3333%;
        }
    }
    .search-input{
        input{
            width : 307px;
        }
    }
}

// centre-formation
#centre-formation{
    .right-box{
        text-align: right;
    }
}

// agrement
#agrement{
    margin-bottom: 35px;
    .box-agrement{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .box-img{
        padding-top: 0px;
        img{
            max-width: 100%;
        }
    }
}

// confiance
#confiance{
    padding-top: 20px;
}
// actus-dossier
#actus-dossier{
    .listing{
        .list{
            padding: 15px 35px 15px 15px;
            &:after{
                right: 10px;
            }
        }
    }
    .actus-block{
        padding: 40px 25px 50px 10px;
    }
    .dossier-block{
        padding: 40px 10px 50px 25px;
    }
}

// block-contact
#block-contact{
    .form-group{
        .input-form{
            width : 305px;
            &.right-col{
                width : 290px;
            }
        }
    }
    .btn-send{
        width : 145px;
    }
}

#footer{
    padding: 35px 0 10px;
    .f-block{
        text-align: left;
        ul{
            li{
                padding-bottom: 15px;
                a{
                    font-size: 14px;
                    color : $blanc;

                    p{
                        display: block;
                        line-height: 1.2;
                    }
                }
            }        
        }
        .plan-site{
              li{
                  padding-bottom: 0;
                  a{
                      display: block;
                      line-height: 1.2;
                  }
              }  
        }  

        .newsletter-form{
            margin-top: -10px;
            .form-control{
                background-color: #706f6f;
                font-size: 12px;
                height: 40px;
                border : none;
                box-shadow: none;
                border-radius : 3px;
                margin-bottom: 10px;
            }
            .btn-inscrit{
                text-transform: uppercase;
                background-color: $orange;
                height: 30px;
                border-radius: 3px;
                border : none;
                color : $blanc;
                font-family: "robotobold";
                font-size: 11px;
                width : 105px;
            }
        }
    }
}

// slider-top
#slider-top{
    .slider-ctnr{
        .control{
            position: absolute;
            top: 50%;
            left: 50%;
            transform : translate(-50%,-50%);
            
        }
    }
}     