#description {
    .main-img {
        margin-bottom: 12px;
    }
}
// detail-fiche
#detail-fiche{
    padding-top: 4px;
    padding-bottom: 4px;
    .accordion{
        &> ul{
            list-style:none;
            margin:0;
            padding:0; 
            &> li{
                margin:0;
                padding:0;
                &:first-child {
                    padding-top: 0;
                }
                &:nth-child(2n+1) {
                    background-color: #F4F4F4; 
                }
                label{
                    display:block;
                    height: 65px;
                    padding: 24px 0 24px 15px;
                    min-width: 186px; 
                    text-transform: uppercase;
                    color : $blanc;
                    font-size: 16px;
                    font-family: "robotobold";
                    font-weight: 400;
                    line-height: 1.2;
                    position : relative;
                    margin-bottom: 0;
                    border-bottom: 1px solid $blanc;
                    background-color : #e94e1b;
                    &:after{
                        content : "\f107";
                        font-family: "FontAwesome";
                        position : absolute;
                        top : 50%;
                        transform : translateY(-50%);
                        right: 10px;
                        font-size: 25px;
                    }
                }
                .content{
                    overflow: hidden;
                    height:0px;
                    border-top:0;
                    margin-bottom: 1px;
                    h2 {
                        font-family: 'robotobold';
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 1.2;
                        padding: 8px 0;
                        border-bottom: 2px solid $violet-fleche;
                        display: inline-block;
                        margin-top: 0;
                    }
                    p {
                        margin-bottom: 15px;
                    }
                    img {
                        height: auto;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                    .custom-block {
                        padding: 22px 34px;
                        font-family: 'robotomedium';
                        margin-bottom: 10px;
                        &.bg-blanc {
                            background-color: $blanc;
                        }
                        &.bg-gris {
                            background-color: #F4F4F4;
                        }
                        &> h2 {
                            font-family: 'robotobold';
                            font-size: 20px;
                            text-transform: uppercase;
                            line-height: 1.2;
                            margin: 0 0 10px;
                            padding: 0;
                            border: 0 none;
                        }
                        ul {
                            list-style-type:none;
                            margin: 0;
                            padding: 0;
                            li {
                                margin-top: 20px;
                                padding-left: 20px;
                                position: relative;
                                &:first-child {
                                    margin-top: 0;
                                }
                                &:before {
                                    content: "\f00c";
                                    font-family: 'FontAwesome';
                                    display: inline-block;
                                    font: normal normal normal 10px/10px; // shortening font declaration
                                    font-size: inherit; // can't have font-size inherit on line above, so need to override
                                    text-rendering: auto; // optimizelegibility throws things off #1094
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    margin-right: 5px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                    .custom-title {
                        width: 100px;
                        height: 100px;
                        margin: 0 auto;
                        position: relative;
                        margin-bottom: 15px;
                        .chart-label {
                            position: absolute;
                            left: 0;
                            right: 0;
                            height: 100px;
                            line-height: 100px;
                            vertical-align: middle;
                            text-align: center;
                            span {
                                display: inline-block;
                                font-family: 'robotobold';
                                font-size: 1.8em;
                                color: $orange;
                            }
                        }
                        & + h2 {
                            color: $orange;
                            display: block;
                            text-align: center;
                            padding-bottom: 16px;
                            font-size: 21px;
                            margin-bottom: 15px;
                            span {
                                color: $noir;
                                margin-left: 5px;
                            }
                        }
                    }
                }

                [type=checkbox]{
                    display:none;
                    &:checked{
                        & ~ label{
                            &:after{
                                content : "\f106";
                            }
                            & ~ .content{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        #presentation {
            position: relative;
            .fond-blanc {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 38px;
                background-color: $blanc; 
            }
            .section-target {
                display: inline-block;
                padding: 0;
                position: relative;
                z-index: 1;
                li {
                    list-style:none;
                    margin: 0;
                    padding: 0; 
                    display: inline-block;
                    a {
                        margin:0 3px;
                        padding:6px 0; 
                        display: inline-block;
                        text-align: center;
                        color: $violet-fleche;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: 'robotobold'; 
                        border-bottom: 2px solid $violet-fleche;
                        min-width: 184px; 
                    }
                }
            }
        }
    }
}

#liens {
    background-color: $blanc;
    padding: 10px 0;
    .contenu-liens {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 20px 0 40px;
            column-count: 1;
            column-gap: 0;
            li {
                padding: 3px 0;
                &> a {
                    font-size: 14px;
                    font-family: 'robotomedium';
                    color: #474747;
                }
                &:before {
                    content: "\f105";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    font: normal normal normal 14px; // shortening font declaration
                    font-size: inherit; // can't have font-size inherit on line above, so need to override
                    text-rendering: auto; // optimizelegibility throws things off #1094
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media only screen and (min-width:768px){
    // detail-fiche
    #detail-fiche{
        padding: 20px 0 0 0;
        .accordion{
            padding: 0 10px;
            &> ul{
                li{
                    label{
                        display:inline-block;
                        height: 38px;
                        line-height: 38px;
                        padding: 0px 20px;
                        margin-bottom: 25px;
                        border-bottom: none;
                        pointer-events: none;
                        &:after{
                            content : "";
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent; 
                            left : 30px;
                            right: auto;
                            top : 100%;
                            margin-top: 5px; 
                            border-top: 10px solid #e94e1b;
                        }
                        & + .content{
                            td{
                                &:nth-child(3){
                                    .link{
                                        background-color: #e94e1b;
                                    }
                                }
                                
                            }
                        }
                    }
                    .content{
                        margin-bottom: 30px;
                        height:100%;
                    }

                    [type=checkbox]{
                        &:checked{
                            & ~ label{
                                &:after{
                                    content : "";
                                }
                                & ~ .content{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #liens {
        .contenu-liens {
            ul {
                column-count: 2;
                column-gap: 10px;
            }
        }
    }
}

@media only screen and (min-width:992px){
    // detail-fiche
    #detail-fiche{
        padding: 40px 0 0 0;
        .accordion{
            padding: 0 10px;
            &> ul{
                li{
                    padding: 29px 0;
                    label {
                        text-align: center;
                        padding-left: 0;
                    }
                    .content{
                    }
                }
            }
        }
    }
    #liens {
        .contenu-liens {
            ul {
                column-count: 3;
                column-gap: 10px;
            }
        }
    }
}