#header {
    .navbar-header {
        float: none;
        .navbar-brand {
            margin-left: 0;
        }
        .navbar-toggle {
            margin-top: 36px;
        }
    }
    .navbar-toggle {
        display: block;
    }
}

#newsletter{
    background-color: $rouge;
    color : $blanc;
    padding: 10px 0;
    .block-s{
        padding: 0;
    }
    .search-caption{
        margin-bottom: 5px;
        span{
            text-transform: uppercase;
            font-size: 18px;
        }
    }
    .search-input{
        padding: 0;
        input{
            border: none;
            border-radius: 3px;
            width : 100%;
            height: 40px;
            color : $noir;
            padding: 0 10px;
        }
    }
    .search-btn{
        .boutton{
            font-size: 11px;
        }
    }
}

.section-part{
    h2,.titre-section{
        font-size: 25px;
        margin-bottom: 35px;
        margin-top: 0;
    }
}

#formation{
    padding: 40px 0;
    .grid-formation{
        .first-box{
            width : 100%;
            margin-bottom: 25px;
        }
    }
}

// recrute
#recrute{
    padding: 35px 0 50px;
    .titre-recrute{
        font-size: 30px;
        margin-bottom: 30px;
    }
    p{
        font-size: 22px;
        margin-bottom: 45px;
    }
}

//recherche
#recherche{
    height: 90px;
    .block-s{
        width : auto;
        padding-top: 10px;
    }
    .search-caption{
        padding-top: 5px;
    }
    .search-input{
        input{
            width : 267px;
        }
    }
}

// centre-formation
#centre-formation{
    padding-top: 50px;
    padding-bottom: 5px;
    .left-box{
        text-align: right;
        p{
            font-size: 14px;
            margin-bottom: 15px;
            strong{
                font-size: 16px;
                font-family: "robotobold";
                font-weight: 400;
                line-height: 1;
            }
        }
    }
    .img-center{
        img{
            max-width: 100%;
        }
    }
    .right-box{
        text-align: left;
        h3{
            font-family: "robotobold";
            font-weight: 400;
            font-size: 18px;
            background-color: $orange;
            text-transform: uppercase;
            color : $blanc;
            display: inline-block;
            line-height: 30px;
            padding: 0 15px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p{
            font-size: 16px;
            span{
                color : $rouge;
            }
        }
    }
}

// agrement
#agrement{
    margin-bottom: 35px;
    .box-agrement{
        border : 1px solid #9f9f9f;
        @include clearfix();
        padding-top: 10px;
        padding-bottom: 15px;
        .titre-box{
            margin-top: 0;
            font-size: 25px;
            text-transform: uppercase;
            padding-left: 10px;
            margin-bottom: 5px;
        }
        p{
            margin-bottom: 0;
            color : $rouge-txt;
            font-size: 14px;
            font-family: "robotobold";
            line-height: 1.1;
        }
    }
    .box-img{
        padding-top: 10px;
        img{
            max-width: 100%;
        }
    }
}

// confiance
#confiance{
    padding-bottom: 40px;
    .titre-section{
        margin-bottom: 15px;
    }
    .slider-confiance{
        padding: 0 45px;
        .item{
            padding: 0 10px;
            img{
                max-width: 100%;
            }
        }
        .slick-prev::before, .slick-next::before{
            color : $noir;
            opacity : 1;
        }
        .slick-prev{
            left: 10px;
        }
        .slick-next{
            right: 10px;
        }
    }
}

// actus-dossier
#actus-dossier{
    background-color: $violet-claire;
    overflow-x: hidden; 
    .titre-block{
        font-size: 16px;
        font-family: "robotobold";
        text-transform: uppercase;
        font-weight: 400;
        color : $grenat;
        background-color: $blanc;
        display: inline-block;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 25px;
        i{
            padding-right: 5px;
        }
    }
    .listing{
        margin-bottom: 20px;
        .list{
            padding: 15px 35px 15px 10px;
            display: block;
            border-top : 1px solid $blanc;
            color : $noir;
            font-size: 18px;
            text-decoration: none;
            line-height: 1.2;
            position: relative;
            &:last-child{
                border-bottom: 1px solid $blanc;
            }
            &:after{
                content:"→";
                font-family: "slick";
                position : absolute;
                right: 0;
                top : 50%;
                transform : translateY(-50%);
                color : $violet-fleche;
                font-size: 24px;
            }
            &:hover{
                background-color: rgba(255,255,255,0.25);
            }
        }
    }
    .actus-block{
        height: 510px;
        padding: 40px 10px 50px 10px;
    }
    .dossier-block{
        background-color: $violet-fonce;
        height: 510px;
        padding: 40px 10px 50px 10px;
        &:before{
            right: -999em;
            content: '';
            background-color: $violet-fonce;
            display: block;
            position: absolute;
            width : 999em;
            top : 0;
            bottom : 0;
        }
    }

    .all-btn{
        a{
            text-transform: uppercase;
            background-color: $grenat;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            float: right;
            color : $blanc;
            font-family: "robotobold";
            text-decoration: none;
            border-radius: 3px;
            &:hover{
                background-color: $grenat-hover;
            }
        }
        
    }
}

// block-contact
#block-contact{
    color : $blanc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 50px 0 35px;
    .filter{
        background-color: rgba(230,51,42,0.86);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .titre-section{
        text-align: center;
        font-size: 30px;
        font-family: "robotolight";
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 35px;
    }
    .form-group{
        margin-bottom: 10px;
        @include clearfix();
        .input-label{
            font-family: "robotobold";
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 40px;
            float: left;
        }
        .input-form{
            width : 275px;
            float: right;
            .form-control{
                width: 100%;
                height: 40px;
                color : $noir;
                border : none;
                box-shadow: none;
                border-radius : 3px;
            }
            &.right-col{
                width : 260px;
            }

            textarea{
                width : 100%;
                border-radius : 3px;
                border : none;
                height: 145px;
                margin-bottom: 10px;
                color : $noir;
                padding: 10px;
            }
        }
    }
    .btn-send{
        width : 170px;
        text-transform: uppercase;
        background-color: $grenat;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: right;
        color : $blanc;
        font-family: "robotobold";
        text-decoration: none;
        border-radius: 3px;
        border : none;
        &:hover{
            background-color: $grenat-hover;
        }
    }
}

// footer
footer{
    background-color: $gris-footer;
}
#footer{
    padding: 15px 0 10px;
    .f-block{
        text-align: center;
        .f-titre{
            font-size: 16px;
            text-transform: uppercase;
            color : $blanc;
            margin-bottom: 20px;
            margin-top: 0;
        }
        ul{
            padding-left: 0;
            list-style: none;
            li{
                padding-bottom: 15px;
                a{
                    font-size: 14px;
                    color : $blanc;
                    text-decoration: none;
                    p{
                        display: inline;
                        font-family: 'robotolight';
                    }
                    &:hover{
                        text-decoration: none;
                        color : $orange-link;
                    }
                }
            }
            
        }
    }
}

// slider-top
#slider-top{
    .slider-ctnr{
        position: relative;
        .items{
            height: 510px;
            .item{
                height: 510px;
                width : 100%;
                background-size: cover;
                background-position: center center;
                position: absolute;
                opacity : 0;
                @include transition(opacity 0.5s ease-out);
                &.active{
                    opacity : 1;
                    @include transition(opacity 0.5s ease-out);
                }
            }
        }
        .control{
            position: absolute;
            top: 50%;
            transform : translateY(-50%);
            ul{
                padding-left: 0;
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;
                li{
                    padding: 5px 0;
                    a{
                        background-color: rgba(0,0,0,0.61);
                        width: 210px;
                        padding: 25px 15px;
                        display: block;
                        color : $blanc;
                        text-transform: uppercase;
                        text-decoration: none;
                        position: relative;
                        p{
                            font-family: "robotolight";
                            font-size: 16px;
                            line-height: 1.2;
                            margin-bottom: 0;
                            strong{
                                display: block;
                                font-family: "robotobold";
                                font-size: 18px;
                                font-weight: 400;
                            }
                        }
                        &:hover{
                            background-color: rgba(0,0,0,1);
                        }
                        &.active{
                            background-color: $orange;
                            &:after{
                                left: 100%;
                                top: 50%;
                                border: solid transparent;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                border-color: transparent;
                                border-left-color: $orange;
                                border-width: 10px 0 10px 15px;
                                margin-top: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
}     

//breadcrumb
.breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    padding: 30px 10px;
    ul{
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        overflow: hidden;
        margin-bottom: 0;
        li{
            padding: 0 10px;
            float: left;
            &:first-child{
                padding-left : 0px;
            }
            a{
                font-size: 12px;
                color : #2d2c2c;
                position: relative;
                &:after{
                    content:"";
                    font-family: "FontAwesome";
                    color : #2d2c2c;
                    position: absolute;
                    right: -15px;
                    top : 50%;
                    transform : translateY(-50%);
                }
            }
            &:last-child{
                a{
                    text-decoration: none;
                    pointer-events: none;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}


//carousel
#carousel{
    .slider-formation{
        .item{
            height: 360px;
            .text-wrap{
                font-size: 18px;
                bottom : 50px;
                min-width : 310px;
            }
        }
        .slick-dots{
            bottom : 15px;
            li{
                margin: 0 1px;
                button:before{
                    font-size: 17px;
                    opacity: 0.8;
                }
                &.slick-active{
                    button:before{
                        color : #e30613;
                    }
                }
            }
            
        }
        .slick-arrow{
            background-color: rgba(227,6,19,0.76);
            height: 64px;
            width: 64px;
            z-index: 100;
            @include transition(background-color 0.1s ease);
            &:hover{
                @include transition(background-color 0.1s ease);
                background-color: rgba(227,6,19,01);
            }
            &:before{
                font-family: "FontAwesome";
                font-size: 25px;
                opacity : 1;
            }
            &.slick-next{
                right: 0;
                &:before{
                    content : "\f105";
                }
            }
            &.slick-prev{
                left: 0;
                 &:before{
                    content : "\f104";
                }
            }
        }
    }
    .image-fixe{
        height: 360px;
        background-size: cover;
        background-position: center center;
    }
}

.h1-titre{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 0px;
}

// catalogue-list
#catalogue-list{
    padding: 20px 0 0 0;
    .accordion{
        padding: 0 10px;
        ul{
            li{
                label{
                    display:inline-block;
                    height: 38px;
                    line-height: 38px;
                    padding: 0px 20px;
                    margin-bottom: 25px;
                    border-bottom: none;
                    pointer-events: none;
                    &:after{
                        content : "";
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent; 
                        left : 30px;
                        right: auto;
                        top : 100%;
                        margin-top: 5px; 
                    }
                    &.red{
                        &:after{                                                
                            border-top: 10px solid #e30613;                           
                        }
                        & + .content{
                            td{
                                &:nth-child(3){
                                    .link{
                                        background-color: #e30613;
                                    }
                                }
                                
                            }
                        }
                    }
                    &.green{
                        &:after{                       
                            border-top: 10px solid #82b937;
                        }
                        & + .content{
                            td{
                                &:nth-child(3){
                                    .link{
                                        background-color: #82b937;
                                    }
                                }
                                
                            }
                        }
                    }
                    &.orange{
                        &:after{                       
                            border-top: 10px solid #e94e1b;
                        }
                        & + .content{
                            td{
                                &:nth-child(3){
                                    .link{
                                        background-color: #e94e1b;
                                    }
                                }
                                
                            }
                        }
                    }
                    &.yellow{
                        &:after{                       
                            border-top: 10px solid #fcc11e;
                        }
                        & + .content{
                            td{
                                &:nth-child(3){
                                    .link{
                                        background-color: #fcc11e;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .content{
                    margin-bottom: 30px;
                    height:100%;
                    table{
                        width : 748px;
                        tr{
                            border-bottom : 10px solid $blanc;
                            td{
                                &:nth-child(2){
                                    border-left : 20px solid $blanc;
                                }
                                &:nth-child(3){
                                    width : 60px;
                                    .link{
                                        width : 60px;
                                        height: 60px;
                                        text-align: center;
                                        a{
                                            color : $blanc;
                                            line-height: 60px;
                                            font-size: 25px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }

                [type=checkbox]{
                    &:checked{
                        & ~ label{
                            &:after{
                                content : "";
                            }
                            & ~ .content{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}