.section-part{
    h2,.titre-section{
        font-size: 25px;
        margin-bottom: 35px;
        margin-top: 0;
    }
}

#formation{
    padding: 40px 0;
    .grid-formation{
        .first-box{
            width : 100%;
            margin-bottom: 25px;
        }
    }
}

// recrute
#recrute{
    padding: 35px 0 50px;
    .titre-recrute{
        font-size: 30px;
        margin-bottom: 30px;
    }
    p{
        font-size: 22px;
        margin-bottom: 45px;
    }
}

//recherche
#recherche{
    height: 90px;
    .block-s{
        width : auto;
        padding-top: 10px;
    }
    .search-caption{
        padding-top: 5px;
        span{

        }
    }
    .search-input{
        input{
            width : 267px;
        }
    }
}

// centre-formation
#centre-formation{
    padding-top: 50px;
    padding-bottom: 10px;
    .left-box{
        text-align: right;
        p{
            font-size: 14px;
            margin-bottom: 15px;
            strong{
                font-size: 16px;
                font-family: "robotobold";
                font-weight: 400;
                line-height: 1;
            }
        }
    }
    .img-center{
        img{
            max-width: 100%;
        }
    }
    .right-box{
        text-align: left;
        h3{
            font-family: "robotobold";
            font-weight: 400;
            font-size: 18px;
            background-color: $orange;
            text-transform: uppercase;
            color : $blanc;
            display: inline-block;
            line-height: 30px;
            padding: 0 15px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p{
            font-size: 16px;
            span{
                color : $rouge;
            }
        }
    }
}